<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-icons">
        <script src="https://tryhackme.com/badge/476436"></script>
      </div>
      <div class="header-icons">
        <script src="https://www.hackthebox.eu/badge/244329"></script>
      </div>
  </div>
</div>
